#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#loginForm form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#loginForm button {
    margin: 20px 0;
    width: 75%;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #E84D0D;
    color: white;
}

#loginForm button:disabled {
    background-color: grey;
}

#loginForm input {
    margin: 10px 0;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #E84D0D;
    margin-bottom: 20px;
}

#headerContainer h1 {
    margin: 10px;
    color: white
}