#parksPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.parkButton {
    background-color: #E84D0D;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.parkActionButton {
    background-color: #E84D0D;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: fit-content
}

#headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #E84D0D;
    margin-bottom: 20px;
}

#headerContainer button {
    margin-left: 20px;
    background-color: #005067;
}

#headerContainer h1 {
    margin: 10px;
    color: white
}

td{
    text-align: center;
}

p{
    color: white;
}
