@page "/{UserId:int}"

@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage;

<div id="parksPage">
    <div id="headerContainer">
        <div>
            <img src="/favicon.png" alt="Logo" id="logo" />
        </div>
        <div>
            <h1>Parks</h1>
            <a href="@UserId/parkForm/-1"><button class="parkActionButton">New</button></a>
        </div>
        <div>
            <a href="@UserId/tickets"><button class="parkActionButton">Tickets</button></a>
        </div>
    </div>

    @if (Parks.Count != 0)
    {
        <table>
            @foreach (var Park in Parks)
            {
                @if (Park.is_enabled)
                {
                    <tr>
                        <td><a href="/@UserId/@Park.id"><button class="parkButton">@Park.name</button></a></td>
                        <td><a href="@UserId/parkForm/@Park.id"><button class="parkActionButton">Update</button></a></td>
                        <td><button class="parkActionButton" @onclick="() => DeletePark(Park.id)">Delete</button></td>
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <p>No park</p>
    }
</div>