@page "/{UserId:int}"

@inject NavigationManager NavigationManager

<div id="parksPage">
    <div id="headerContainer">
        <h1>Parks</h1>
        <a href="@UserId/parkForm/-1"><button class="parkActionButton">New</button></a>
    </div>

    @if (Parks.Count != 0)
    {
        <div id="parkButtonsContainer">
            @foreach (var Park in Parks)
            {
                @if (Park.is_enabled)
                {
                    <div class="parkButtons">
                        <a href="/@UserId/@Park.id"><button class="parkButton">@Park.name</button></a>
                        <a href="@UserId/parkForm/@Park.id"><button class="parkActionButton">Update</button></a>
                        <button class="parkActionButton" @onclick="() => DeletePark(Park.id)">Delete</button>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <p>No park</p>
    }
</div>