@page "/{UserId:int}/parkForm/{ParkId:int}"

@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage;

<div id="parkForm">
	<div id="headerContainer">
		<div>
			<img src="/favicon.png" alt="Logo" id="logo" />
		</div>
		<div>
			<h1>Park form</h1>
		</div>
		<div></div>
	</div>

	<form>
		<input type="text" id="name" name="name" placeholder="Name" @bind-value="Park.name">

		<button type="submit" @onclick="SubmitForm" @onclick:preventDefault="true">Submit</button>
	</form>
</div>


