@page "/{UserId:int}/{ParkId:int}/roomForm/{RoomId:int}"

@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage;

<div id="roomForm">
	<h1>Room form</h1>

	<form>
		<input type="text" id="name" name="name" placeholder="Name" @bind-value="Room.name">

		<button type="submit" @onclick="SubmitForm" @onclick:preventDefault="true">Submit</button>
	</form>
</div>
