@page "/{UserId:int}/{ParkId:int}"

@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage;

<div id="roomsPage">
    <div id="headerContainer">
        <div>
            <img src="/favicon.png" alt="Logo" id="logo" />
        </div>
        <div>
            <h1>Rooms</h1>
            <a href="@UserId/@ParkId/roomForm/-1"><button class="roomActionButton">New</button></a>
        </div>
        <div>
            <a href="@UserId/tickets"><button class="roomActionButton">Tickets</button></a>
        </div>
    </div>

    @if (Rooms.Count != 0)
    {
        <table>
            @foreach (var Room in Rooms)
            {
                @if (Room.is_enabled)
                {
                    <tr>
                        <td><a href="/@UserId/@ParkId/@Room.id"><button class="roomButton">@Room.name (@Room.id)</button></a></td>
                        <td><a href="@UserId/@ParkId/roomForm/@Room.id"><button class="roomActionButton">Update</button></a></td>
                        <td><button class="roomActionButton" @onclick="() => DeleteRoom(Room.id)">Delete</button></td>
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <p>No room</p>
    }
</div>
