#roomsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.roomButton {
    background-color: #E84D0D;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.roomActionButton {
    background-color: #E84D0D;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: fit-content
}

#headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #E84D0D;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#headerContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerContainer button {
    background-color: #005067;
}

#headerContainer h1 {
    margin: 10px;
    color: white
}

td {
    text-align: center
}

p {
    color: white;
}

#logo {
    width: 40px;
    height: 40px;
}
